<h1>Payment Calculation</h1>

<form action = "/payment/results"> 
    <label for="apr"> APR </label>
    <input id = "apr" type = "float" name = "apr_input">
    <div><label for="years"> Number of years</label>
    <input id = "years" type = "number" name = "years_input"></div>
    <div><label for="principal"> Principal</label>
    <input id = "principal" type = "number" name = "principal_input"></div>
    <button> Calculate monthly payment</button>
</form>