<h1>Random Calculation</h1>

<form action = "/random/results"> 
    <label for="min"> Minimum</label>
    <input id = "min" type = "number" name = "min_input">
    <div><label for="max"> Maximum</label>
    <input id = "max" type = "number" name = "max_input"></div>
    <button> Pick random number</button>
</form>