<h1>Square Calculation</h1>

<form action = "/square/results"> 
    <label for="zebra"> Enter a number</label>
    <input id = "zebra" type = "text" name = "user_number">
    <button> Calculate square</button>
</form>